<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form method="get" action="/update/{{ data.id }}">
	<label>Name</label><br>
	<input type="text" name="name" value="{{ data.name }}"><br>
	<label>email</label><br>
	<input type="email" name="email" value="{{ data.email }}"><br>
	<label>Name</label><br>
	<input type="number" name="mobile" value="{{ data.mobile }}"><br>
	<label>Salary</label><br>
	<input type="number" name="salary" value="{{ data.salary }}"><br><br>
	<input type="submit" name="sub" value="update">
</form>
</body>
</html>